@charset "utf-8";
.container {
    width: 100%;
    height: auto;
    border: 0px solid;
}
.container .inner-container{
    width: 100%;
    max-width: 1400px;
    border: 0px solid;
    box-sizing: border-box;
    margin: 0 auto;
}
.section{
    padding: 70px 0;
}

/* section1 시작 */
.section.sec1 {
    width: 100%;
    height: auto;
    border: 0px solid;
    box-sizing: border-box;
    margin-top: 148px;
    padding-top: 0;
}

.section.sec1 .inner-con {
    width: 100%;
    height: 550px;
    border: 0px solid;
    position: relative;
}

.sec1 .gallery {
    width: 140%;
    height: 550px;
    border: 0px solid #ff0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sec1 .gallery > ul > li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.sec1 .gallery > ul > li a {
    display: block;
}

.sec1 .slide-box .title{
    display: block;
    width: 100%;
    max-width: 1400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 50px;
}

.sec1 .slide-box .title h2{
    font-size: 35px;
    line-height: 1.2em;
}

.sec1 .slide-box .title p{
    font-size: 18px;
    padding: 20px 0;
}

.sec1 .slide-box .title b{
    display: block;
    font-size: 16px;
}
.sec1 .slide-box .title span{
    display: inline-block;
    margin-top: 100px;
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 5px 10px;
}
.sec1 .slide-box .title span:hover{
    cursor: pointer;
    background: #757575;
    color: #fff;
}

/* section2 시작 */
.section.sec2 {
    width: 100%;
    height: 100%;
    border: 0px solid;
}

.section.sec2 .inner-con {
    width: 100%;
    max-width: 1400px;
    height: auto;
    border: 0px solid #f00;
    margin: 0 auto;
}


.sec2 .section-title {
    width: 100%;
    height: auto;
    border: 0px solid;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.sec2 .section-title::after {
    content: "";
    display: block;
    clear: both;
}

.sec2 .section-title h3.title {
    font-size: 35px;
    float: left;
    font-weight: 500;
}

.sec2 .section-title .title-icon {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 0px solid;
    float: left;
}

.sec2 .section-title .title-icon img {
    width: 100%;
    height: auto;
}

.sec2 .section-choose {
    width: 100%;
    height: auto;
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1em;
    position: relative;
}

.sec2 .section-choose:hover {
    cursor: pointer;
}

.sec2 .section-choose::after {
    content: "";
    display: block;
    clear: both;
}

.sec2 .section-choose .review {
    float: left;
    border-right: 1px solid;
    padding-right: 25px;
    font-weight: 500;
}

.sec2 .section-choose .review:hover {
    font-weight: 400;
}

.sec2 .section-choose .sell {
    float: left;
    margin-left: 25px;
}

.sec2 .section-choose .sell:hover {
    font-weight: 500;
}

.sec2 .section-choose span.arrow {
    width: 20px;
    height: 25px;
    position: absolute;
    top: 0;
    display: block;
}

.sec2 .section-choose span.arrow.arrowLeft {
    width: 20px;
    height: 25px;
    right: 100px;
    display: block;

}

.sec2 .section-choose span.arrow.arrowLeft img {
    width: 100%;
    height: auto;
}

.sec2 .section-choose span.arrow.arrowLeft:hover {
    cursor: pointer;
    opacity: 70%;
}

.sec2 .section-choose span.arrow.arrowRight {
    width: 20px;
    height: 25px;
    right: 30px;
}

.sec2 .section-choose span.arrow.arrowRight img {
    width: 100%;
    height: auto;
}

.sec2 .section-choose span.arrow.arrowRight:hover {
    cursor: pointer;
    opacity: 70%;
}

/* section2 t-con */
.sec2 .t-con {
    width: 100%;
    height: 550px;
    border: 0px solid #ff0;
    box-sizing: border-box;
    top: 0;
}


.sec2 .t-con .product-space{
    width: 100%;
    max-width: 1400px;
    height: 550px;
    border: 0px solid;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.sec2 .t-con .product-gallery {
     /*=gallery */
    width: 100%;
    height: 550px;
    border: 0px solid #ff0;
    box-sizing: border-box;
    position: absolute;

}
.sec2 .t-con .product-space .product-gallery{
    width: 100%;
    height: 550px;
    position: absolute;
}
.sec2 .t-con .product-space .product-gallery .gallery-con{
    width: 200%;
    height: 550px;
    position: absolute;
    border: 0px solid;
}
.sec2 .t-con .product-space .product-gallery .gallery-con ::after {
    content: "";
    display: block;
    clear: both;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box {
    /* =gallery>ul>li*/
    width: 9.6%;
    height: auto;
    border: 0px solid;
    float: left;
    box-sizing: border-box;
    margin-right: 0.4%;
    background: #f7f7f7
}

/*.sec2 .t-con .product-space .product-gallery .gallery-con  .product-box:nth-child(10) {
    margin-right: 0
}*/
.sec2 .t-con .product-space .product-gallery .gallery-con .product-box .pro-Img {
    width: 100%;
    ;
    height: 270px;
    ;
    border: 0px solid;
    box-sizing: border-box;
    transition: all 0.5s;
    position: relative;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box .pro-Img span.num {
    display: block;
    width: 20px;
    height: 50px;
    border: 0px solid;
    color: #67625d;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    margin: 10px 0 0 10px;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(1) .pro-Img span.num {
    color: #f00;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(1) .pro-Img {
    background: url(img/index/sec2/section2-pro-Img0-before.png) no-repeat 50%;
    background-size: cover;
    border: 0px solid;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(1) .pro-Img:hover {
    background: url(img/index/sec2/section2-pro-Img0-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(2) .pro-Img {
    background: url(img/index/sec2/section2-pro-Img1-before.png) no-repeat 50%;
    background-size: cover;
    border: 0px solid;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(2) .pro-Img:hover {
    background: url(img/index/sec2/section2-pro-Img1-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(3) .pro-Img {
    background: url(img/index/sec2/section2-pro-Img2-before.png) no-repeat 50%;
    background-size: cover;
    border: 0px solid;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(3) .pro-Img:hover {
    background: url(img/index/sec2/section2-pro-Img2-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(4) .pro-Img {
    background: url(img/index/sec2/section2-pro-Img3-before.png) no-repeat 50%;
    background-size: cover;
    border: 0px solid;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(4) .pro-Img:hover {
    background: url(img/index/sec2/section2-pro-Img3-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(5) .pro-Img {
    background: url(img/index/sec2/section2-pro-Img4-before.png) no-repeat 50%;
    background-size: cover;
    border: 0px solid;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(5) .pro-Img:hover {
    background: url(img/index/sec2/section2-pro-Img4-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(6) .pro-Img {
    background: url(img/index/sec2/section2-pro-Img5-before.png) no-repeat 50%;
    background-size: cover;
    border: 0px solid;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(6) .pro-Img:hover {
    background: url(img/index/sec2/section2-pro-Img5-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(7) .pro-Img {
    background: url(img/index/sec2/section2-pro-Img6-before.png) no-repeat 50%;
    background-size: cover;
    border: 0px solid;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(7) .pro-Img:hover {
    background: url(img/index/sec2/section2-pro-Img6-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(8) .pro-Img {
    background: url(img/index/sec2/section2-pro-Img7-before.png) no-repeat 50%;
    background-size: cover;
    border: 0px solid;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(8) .pro-Img:hover {
    background: url(img/index/sec2/section2-pro-Img7-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(9) .pro-Img {
    background: url(img/index/sec2/section2-pro-Img8-before.png) no-repeat 50%;
    background-size: cover;
    border: 0px solid;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(9) .pro-Img:hover {
    background: url(img/index/sec2/section2-pro-Img8-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(10) .pro-Img {
    background: url(img/index/sec2/section2-pro-Img9-before.png) no-repeat 50%;
    background-size: cover;
    border: 0px solid;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box:nth-child(10) .pro-Img:hover {
    background: url(img/index/sec2/section2-pro-Img9-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box .star {
    width: 100%;
    line-height: 70px;
    border: 0px solid;
    text-align: center;
    font-size: 22px;
    background: #fff;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box .pro-Name {
    width: 100%;
    width: 100%;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.3px;
    padding-bottom: 25px;
    background: #fff;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box .user-rev {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
    border-top: 1px solid #f7f7f7;
    background: #fff;

}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box .rev-clearfix {
    width: 100%;
    height: auto;
    background: #eee;
    font-size: 14px;
    padding: 5px;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box .rev-clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box .rev-clearfix .rev-user {
    float: left;
    text-indent: 3px;
}

.sec2 .t-con .product-space .product-gallery .gallery-con .product-box .rev-clearfix .rev-date {
    float: right;
}


/* section2 b-con */
.sec2 .b-con {
    width: 100%;
    height: auto;
    border: 0px solid;
    margin-top: 90px;
}

.sec2 .b-con::after {
    content: "";
    display: block;
    clear: both;
}

/* section2 b-con */
.sec2 .b-con {
    width: 100%;
    height: auto;
    margin-top: 90px;
}

.sec2 .b-con::after {
    content: "";
    display: block;
    clear: both;
}

/* section2 b-con l-con */
.sec2 .b-con .l-con {
    width: 40%;
    height: 520px;
    max-width: 530px;
    border: 0px solid;
    box-sizing: border-box;
    position: relative;
    background: url(img/index/sec2/section2-bcon-lcon-bg.jpg);
    float: left;
}

.sec2 .b-con .l-con .t-zone {
    width: 100%;
    height: 220px;
    padding: 45px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0px solid;
    color: #fff;
}

.sec2 .b-con .l-con .t-zone .l-sub {
    font-size: 16px;
}

.sec2 .b-con .l-con .t-zone .l-title {
    font-size: 28px;
    padding: 15px 0 25px;
}

.sec2 .b-con .l-con .t-zone .l-more {
    width: 100%;
    height: auto;
}

.sec2 .b-con .l-con .t-zone .l-more::after {
    content: "";
    display: block;
    clear: both;
}

.sec2 .b-con .l-con .t-zone .l-more .more-t {
    float: left;
    font-size: 20px;
}

.sec2 .b-con .l-con .t-zone .l-more .more-Img {
    width: 33px;
    height: 20px;
    border: 0px solid;
    float: left;
    margin-left: 20px;
    padding: 3px 0;
}

.sec2 .b-con .l-con .t-zone .l-more .more-Img img {
    width: 100%;
    height: auto;
}


/* section2 r-con */
.sec2 .b-con .r-con {
    width: 60%;
    max-width: 820px;
    height: auto;
    border: 0px solid;
    box-sizing: border-box;
    float: right;
    position: relative;
}

.sec2 .b-con .r-con .r-title-space {
    width: 100%;
    height: auto;
    border: 0px solid;
    padding: 25px 0 40px;
    font-size: 20px;
    font-weight: 500;
}

.sec2 .b-con .r-con .r-title-space::after {
    content: "";
    display: block;
    clear: both;
}

.sec2 .b-con .r-con .r-title-space .r-vol {
    display: inline-block;
    color: #f00;
    float: left;
    text-transform: uppercase;
}

.sec2 .b-con .r-con .r-title-space .r-title {
    margin-left: 25px;
    border: 0px solid;
    float: left;
}

.sec2 .b-con .r-con .r-title-space span.arrow {
    width: 75px;
    height: 25px;
    border: 0px solid;
    float: right;
    overflow: hidden;
}

.sec2 .b-con .r-con .r-title-space span.arrow.left {
    width: 20px;
    height: 25px;
}

.sec2 .b-con .r-con .r-title-space span.arrow.left img {
    width: 100%;
    height: auto;
}

.sec2 .b-con .r-con .r-title-space span.arrow.left:hover {
    opacity: 70%;
    cursor: pointer
}

.sec2 .b-con .r-con .r-title-space span.arrow.right {
    width: 20px;
    height: 25px;
    margin-left: 50px;
}

.sec2 .b-con .r-con .r-title-space span.arrow.right img {
    width: 100%;
    height: auto;
}

.sec2 .b-con .r-con .r-title-space span.arrow.right:hover {
    opacity: 70%;
    cursor: pointer
}
.sec2 .b-con .r-con .r-product{
    width: 100%;
    height: 420px;
    border: 0px solid;
}
.sec2 .b-con .r-con .r-product .r-product-space {
    width: 100%;
    height: auto;
    border: 0px solid;
    border-bottom: 3px solid;
    position: absolute;
}
.sec2 .b-con .r-con .r-product .r-product-space:nth-child(2){
    display: none;
}
.sec2 .b-con .r-con .r-product .r-product-space::after {
    content: "";
    display: block;
    clear: both;

}

.sec2 .b-con .r-con .r-product .r-product-space .r-product-box {
    width: 30%;
    height: auto;
    border: 0px solid;
    float: left;
   /* background: #f7f7f7*/;
}

.sec2 .b-con .r-con .r-product .r-product-space .r-product-box:nth-child(2) {
    margin: 0 5%;
}

.sec2 .b-con .r-con .r-product .r-product-space .r-product-box:nth-child(1) .pro-Img {
    background: url(img/index/sec2/section2-bcon-rcon-img0-before.png) no-repeat 50%;
    background-size: cover;
}

.sec2 .b-con .r-con .r-product .r-product-space .r-product-box:nth-child(1) .pro-Img:hover {
    background: url(img/index/sec2/section2-bcon-rcon-img0-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec2 .b-con .r-con .r-product .r-product-space .r-product-box:nth-child(2) .pro-Img {
    background: url(img/index/sec2/section2-bcon-rcon-img1-before.png) no-repeat 50%;
    background-size: cover;
}

.sec2 .b-con .r-con .r-product .r-product-space .r-product-box:nth-child(2) .pro-Img:hover {
    background: url(img/index/sec2/section2-bcon-rcon-img1-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec2 .b-con .r-con .r-product .r-product-space .r-product-box:nth-child(3) .pro-Img {
    background: url(img/index/sec2/section2-bcon-rcon-img2-before.png) no-repeat 50%;
    background-size: cover;
}

.sec2 .b-con .r-con .r-product .r-product-space .r-product-box:nth-child(3) .pro-Img:hover {
    background: url(img/index/sec2/section2-bcon-rcon-img2-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}
.sec2 .b-con .r-con .r-product .r-product-space:nth-child(2) .r-product-box:nth-child(1) .pro-Img {
    background: url(img/index/sec2/section2-bcon-rcon-img3-before.png) no-repeat 50%;
    background-size: cover;
}

.sec2 .b-con .r-con .r-product .r-product-space:nth-child(2) .r-product-box:nth-child(1) .pro-Img:hover {
    background: url(img/index/sec2/section2-bcon-rcon-img3-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}
.sec2 .b-con .r-con .r-product .r-product-space:nth-child(2) .r-product-box:nth-child(2) .pro-Img {
    background: url(img/index/sec2/section2-bcon-rcon-img4-before.png) no-repeat 50%;
    background-size: cover;
}

.sec2 .b-con .r-con .r-product .r-product-space:nth-child(2) .r-product-box:nth-child(2) .pro-Img:hover {
    background: url(img/index/sec2/section2-bcon-rcon-img4-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}
.sec2 .b-con .r-con .r-product .r-product-space:nth-child(2) .r-product-box:nth-child(3) .pro-Img {
    background: url(img/index/sec2/section2-bcon-rcon-img5-before.png) no-repeat 50%;
    background-size: cover;
}

.sec2 .b-con .r-con .r-product .r-product-space:nth-child(2) .r-product-box:nth-child(3) .pro-Img:hover {
    background: url(img/index/sec2/section2-bcon-rcon-img5-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}




.sec2 .b-con .r-con .r-product .r-product-space .r-product-box .pro-Img {
    width: 240px;
    height: 270px;
    border: 0px solid;
    transition: all 0.5s;
}

.sec2 .b-con .r-con .r-product .r-product-space .r-product-box .pro-Name {
    text-align-last: center;
    width: 100%;
    height: 80px;
    padding: 15px 0;
    box-sizing: border-box;
    background: #fff;
    font-weight: 500;
}

.sec2 .b-con .r-con .r-product .r-product-space .r-product-box .pro-Price {
    width: 100%;
    height: auto;
    border: 0px solid;
    font-size: 18px;
    background: #fff;
    padding-bottom: 45px;
}

.sec2 .b-con .r-con .r-product .r-product-space .r-product-box .pro-Price::after {
    content: "";
    display: block;
    clear: both;
}

.sec2 .b-con .r-con .r-product .r-product-space .r-product-box .pro-Price .pro-sale {
    width: auto;
    color: #f00;
    margin-left: 50px;
    float: left;
}

.sec2 .b-con .r-con .r-product .r-product-space .r-product-box .pro-Price .pro-won {
    width: auto;
    margin-left: 25px;
    float: left;
}

/* section3 시작 */
.section.sec3 {
    width: 100%;
    height: 100%;
    border: 0px solid;
}

.section.sec3 .inner-con {
    width: 100%;
    max-width: 1400px;
    height: auto;
    border: 0px solid #f00;
    margin: 0 auto;
}

.sec3 .t-con {
    width: 100%;
    height: 25px;
    position: relative;
    margin-bottom: 10px;
}

.sec3 .t-con .bar {}

.sec3 .t-con span.arrow {
    width: 20px;
    height: 25px;
    border: 0px solid;
    position: absolute;
}
.sec3 .t-con span.arrow :hover{
    cursor: pointer;
}
.sec3 .t-con span.arrow.left {
    right: 75px;
}

.sec3 .t-con span.arrow.left img {
    width: 100%;
    height: auto;
}

.sec3 .t-con span.arrow.right {
    right: 10px;
}

.sec3 .t-con span.arrow.right img {
    width: 100%;
    height: auto;
}

.section.sec3 .inner-con::after {
    content: "";
    display: block;
    clear: both;
}

.sec3 .text-zone {
    width: 320px;
    height: 540px;
    border: 0px solid;
    box-sizing: border-box;

    float: left;
}

.sec3 .text-zone .t-title {
    width: 100%;
    height: 46px;
    border: 0px solid;
    font-size: 40px;
    margin-bottom: 17px;
    font-weight: 500;

}

.sec3 .text-zone .t-sub {
    width: 100%;
    height: 54px;
    line-height: 27px;
    border: 0px solid;
    font-size: 18px;
}

.sec3 .text-zone .t-more {
    width: 100%;
    padding-top: 50px;
}

.sec3 .text-zone .t-more::after {
    content: "";
    display: block;
    clear: both;
}

.sec3 .text-zone .t-more .more-t {
    font-size: 20px;
    float: left;
    font-weight: 500;
}

.sec3 .text-zone .t-more .more-t:hover{
    color: #6c801a;
    transition: 0.3s;
}

.sec3 .text-zone .t-more .more-Img {
    width: 33px;
    height: 20px;
    border: 0px solid;
    margin-left: 12px;
    float: left;
    padding: 3px 0;
    animation: goRight 1.5s linear infinite;
}


.sec3 .text-zone .t-more .more-Img img {
    width: 100%;
    height: auto;
}

.sec3 .r-con {
    width: 1050px;
    height: 540px;
    border: 0px solid;
    float: left;
    margin-left: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.sec3 .r-con .shop-zone {
    width: 100%;
    height: 540px;
    border: 0px solid #f00;
    box-sizing: border-box;
    position: relative;
}

.sec3 .r-con .shop-zone .shop-gallery{
    width: 200%;
    height: 540px;
    border: 0px solid;
    position: absolute;
}
.sec3 .r-con .shop-zone .shop-gallery .shop {
    width: 50%;
    height: 540px;
    border: 0px solid #00f;
    box-sizing: border-box;
    float: left;
    position: relative;
}

.sec3 .r-con .shop-gallery .shop .shopName {
    transition: 0.3s;
}

.sec3 .r-con .shop-gallery .shopName:nth-child(1) {
    width: 55%;
    height: 257px;
    border: 0px solid;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.sec3 .r-con .shop-gallery .shop .shopName:nth-child(2) {
    width: 55%;
    height: 257px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.sec3 .r-con .shop-gallery .shop .shopName:nth-child(3) {
    width: 43%;
    height: 540px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.sec3 .r-con .shop-gallery .shop:nth-child(2) .shopName:nth-child(1) {
    width: 55%;
    height: 257px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.sec3 .r-con .shop-gallery .shop:nth-child(2) .shopName:nth-child(2) {
    width: 55%;
    height: 257px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.sec3 .r-con .shop-gallery .shop:nth-child(2) .shopName:nth-child(3) {
    width: 43%;
    height: 540px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.sec3 .r-con .shop-gallery .shop img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

/* section4 시작 */
.section.sec4 {
    width: 100%;
    height: auto;
    border: 0px solid;
}

.section.sec4 .inner-con {
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
}

/* sec4 t-con */
.sec4 .t-con {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 15px;
}

.sec4 .t-con .section-title {
    width: 100%;
    height: auto;
    border: 0px solid;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.sec4 .t-con .section-title::after {
    content: "";
    display: block;
    clear: both;
}

.sec4 .t-con .section-title h3.title {
    font-size: 40px;
    float: left;
    font-weight: 500;
}

.sec4 .t-con .section-title .title-icon {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 0px solid;
    float: left;
}

.sec4 .t-con .section-subtitle {
    width: 100%;
    height: auto;
    border: 0px solid;
    font-size: 18px;
    margin-bottom: 35px;
    line-height: 25px;
}

.sec4 .t-con .section-title .title-icon img {
    width: 100%;
    height: auto;
}

.sec4 .t-con .today-pro {
    width: 100%;
    height: 490px;
    border: 0px solid;
    background: #ededed;
}

.sec4 .t-con .today-pro .sec4-bg1 {
    width: 100%;
    height: 360px;
    border: 0px solid;
    background: url(img/index/sec4/bg.jpg) no-repeat 50%;
    background-size: cover;
    position: relative;
}

.sec4 .t-con .today-pro .sec4-bg1 .main-text {
    width: 100%;
    height: 360px;
    border: 0px solid #fff;
    box-sizing: border-box;
}

.sec4 .t-con .today-pro .sec4-bg1 .main-text .pro-Name {
    width: 1000px;
    color: #fff;
    position: absolute;
    top: 165px;
    left: 50%;
    margin-left: -500px;
    border: 0px solid #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.sec4 .t-con .today-pro .sec4-bg1 .main-text .pro-main-img {
    width: 260px;
    height: 260px;
    position: absolute;
    left: 50%;
    margin-left: -130px;
    top: 240px;
}

.sec4 .t-con .today-pro .sec4-bg1 .main-text pro-main-img {
    width: 100%;
    height: auto;
}

.sec4 .t-con .today-pro .sec4-bg1 .sub-text {
    width: 290px;
    height: 245px;
    border: 0px solid #fff;
    box-sizing: border-box;
    position: absolute;
    top: 245px;
    right: 290px;
    color: #fff;
    text-indent: 5px;
}

.sec4 .t-con .today-pro .sec4-bg1 .sub-text .percent {
    position: absolute;
    top: 0;
    font-size: 22px;
}

.sec4 .t-con .today-pro .sec4-bg1 .sub-text .b-price {
    position: absolute;
    top: 30px;
    font-size: 20px;
    opacity: 70%;
}

.sec4 .t-con .today-pro .sec4-bg1 .sub-text .b-price .p-text {
    width: 75px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 15px;
    opacity: 70%;
}

.sec4 .t-con .today-pro .sec4-bg1 .sub-text .a-price {
    position: absolute;
    top: 50px;
    font-size: 38px;
    font-weight: 500;
}

.sec4 .t-con .today-pro .sec4-bg1 .sub-text .buy-btn {
    width: 130px;
    height: 45px;
    position: absolute;
    top: 170px;
    font-size: 16px;
    background: #e1e1e1;
    text-align: center;
    line-height: 45px;
    color: #161616;
}

.sec4 .t-con .today-pro .sec4-bg1 .sub-text .buy-btn:hover {
    cursor: pointer;
    background: #dadada;
}

.sec4 .b-con {
    width: 100%;
    height: auto;
    border: 0px solid #00f;
    margin: 0 auto;
    margin-bottom: 80px;
}

/* sec4 b-con --> left-con */
.sec4 .b-con::after {
    content: "";
    display: block;
    clear: both;
}

.sec4 .b-con .left-con {
    width: 693px;
    height: 270px;
    border: 0px solid;
    box-sizing: border-box;
    float: left;
    position: relative;
    background: url(img/index/sec4/left-bg.jpg) no-repeat 50%;
    background-size: cover;
    padding-left: 35px;
}

.sec4 .b-con .left-con:hover {
    cursor: pointer;
    opacity: 80%;
}

.sec4 .b-con .left-con a {
    display: block;
    color: #fff;
}

.sec4 .b-con .left-con a .title {
    position: absolute;
    top: 120px;
    width: 100%;
    font-size: 30px;
    font-family: 'Nanum Myeongjo', serif;
}

.sec4 .b-con .left-con .sub {
    position: absolute;
    top: 160px;
    width: 100%;
    font-size: 18px;
    font-weight: 100
}

.sec4 .b-con .left-con .more {
    position: absolute;
    top: 220px;
    width: 100%;
    font-size: 15px;
    text-decoration-line: underline;
    font-weight: 500;
}

/* sec4 b-con --> right-con */
.sec4 .b-con .right-con {
    width: 50%;
    max-width: 693px;
    height: 270px;
    border: 0px solid;
    box-sizing: border-box;
    float: right;
    position: relative;
    background: url(img/index/sec4/right-bg.jpg) no-repeat 50%;
    background-size: cover;
    padding-left: 35px;
}

.sec4 .b-con .right-con:hover {
    cursor: pointer;
    opacity: 80%;
}

.sec4 .b-con .right-con a {
    display: block;
    color: #fff;
}

.sec4 .b-con .right-con a span.dadalogoImg {
    width: 35px;
    height: 72px;
    display: block;
    position: absolute;
    top: 24px;
    left: 37px;
}

.sec4 .b-con .right-con a span.dadalogoImg img {
    width: 100%;
    height: auto;
}

.sec4 .b-con .right-con a .title {
    position: absolute;
    top: 120px;
    width: 100%;
    font-size: 30px;
    font-family: 'Nanum Myeongjo', serif;
}

.sec4 .b-con .right-con .sub {
    position: absolute;
    top: 160px;
    width: 100%;
    font-size: 18px;
    font-weight: 100;
}

.sec4 .b-con .right-con .more {
    position: absolute;
    top: 220px;
    width: 100%;
    font-size: 15px;
    text-decoration-line: underline;
    font-weight: 500;
}

.section.sec5 {
    width: 100%;
    height: auto;
    border: 0px solid;
}

.section.sec5 .inner-con {
    width: 100%;
    height: auto;
    border: 0px solid;
}

.sec5 .t-con {
    width: 100%;
    height: auto;
}

.sec5 .t-con .title-zone {
    width: 100%;
    height: auto;
    border: 0px solid;
    margin-bottom: 25px;
}

.sec5 .t-con .title-zone::after {
    content: "";
    display: block;
    clear: both;
}

.sec5 .t-con .title-zone .title {
    float: left;
    font-size: 40px;
    font-weight: 500;
}


.sec5 .t-con .title-zone .title-icon {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 0px solid;
    float: left;
}

.sec5 .t-con .title-zone .title-icon img {
    width: 100%;
    height: auto;
}

.sec5 .t-con .t-sub {
    width: 100%;
    height: auto;
    border: 0px solid;
    margin-bottom: 35px;
    font-size: 18px;
}
.sec5 .t-con .t-sub a{
    display: block;
    width: fit-content;
    border: 1px solid #6c801a;
    color: #6c801a;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 16px;
    margin: 10px 0 0;
    transition: 0.5s;
    text-align: center;
}
.sec5 .t-con .t-sub a:hover{
    background: #6c801a;
    color: #fff;
}

.sec5 .video-con {
    width: 100%;
    height: auto;
    border: 0px solid
}

.sec5 .video-con .video-zone {
    width: 100%;
    height: 520px;
    border: 0px solid;
    box-sizing: border-box;
}
.sec5 .video-con .video-zone .inner-vid{
    width: 100%;
    height: 530px;
    border: 0px solid;
    overflow: hidden;
    position: relative;
}
.sec5 .video-con .video-zone .inner-vid .video-link{
    width: 100%;
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
}

.sec5 .video-con .btn {
    width: 100%;
    height: auto;
    border: 0px solid;
    box-sizing: border-box;
    background: #000;
    color: #969696;
    font-size: 20px;
}

.sec5 .video-con .btn::after {
    content: "";
    display: block;
    clear: both;
}

.sec5 .video-con .btn .left-btn {
    width: 9%;
    height: 100px;
    border: 0px solid;
    box-sizing: border-box;
    float: left;
}

.sec5 .video-con .btn .left-btn img {
    width: 20%;
    height: auto;
    padding: 30% 0;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
}

.sec5 .video-con .btn .tea-btn {
    width: 100%;
    height: 100px;
    border: 0px solid;
    box-sizing: border-box;
    float: left;
}

.sec5 .video-con .btn .tea-btn::after {
    content: "";
    display: block;
    clear: both;
}

.sec5 .video-con .btn .tea-btn > ul > li {
    width: 25%;
    height: 100px;
    border: 0px solid;
    box-sizing: border-box;
    float: left;
    text-align: center;
    line-height: 100px;
}
.sec5 .video-con .btn .tea-btn > ul > li:hover{
    cursor: pointer;
}

.sec5 .video-con .btn .right-btn {
    width: 9%;
    height: 100px;
    border: 0px solid;
    box-sizing: border-box;
    float: left;
}

.sec5 .video-con .btn .right-btn img {
    width: 20%;
    height: auto;
    padding: 30% 0;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
}

.sec5 .m-con {
    width: 100%;
    height: auto;
    border: 0px solid;
    box-sizing: border-box;
}

.sec5 .m-con .choose-btn {
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    color: #a1a1a1;
    font-size: 18px;
}

.sec5 .m-con .choose-btn::after {
    content: "";
    display: block;
    clear: both;
    border-bottom: 2px solid #ececec;

}

.sec5 .m-con .choose-btn .inner-btn {
    width: auto;
    height: auto;
    border: 0px solid;
    box-sizing: border-box;
    float: right;
}

.sec5 .m-con .choose-btn .inner-btn::after {
    content: "";
    display: block;
    clear: both;
}

.sec5 .m-con .choose-btn .inner-btn > ul > li {
    line-height: 46px;
    text-align: center;
    float: left;
    margin: 40px 0px 0px 45px;
    box-sizing: border-box;
}
.sec5 .m-con .choose-btn .inner-btn > ul > li:hover{
    cursor: pointer;
    color: #000;
}
.sec5 .m-con .product-space {
    width: 100%;
    max-width: 1400px;
    height: 610px;
    border: 0px solid;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    top: 0;
    left: 0;
}
.sec5 .m-con .product-space .page{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.sec5 .m-con .product-space .page.best{
    display: none;
}
.sec5 .m-con .product-space .page.sale{
    display: none;
}
.sec5 .m-con .product-space .page::after {
    content: "";
    display: block;
    clear: both;
}

.sec5 .m-con .product-space .page .product-box {
    width: 25%;
    height: 610px;
    border-left: 1px solid #ececec;
    float: left;
    box-sizing: border-box;
    
}
.sec5 .m-con .product-space .page .product-box .inner-box{
    width: 100%;
    height: auto;
    border: 0px solid;
    padding: 0 22px;
    box-sizing: border-box;
}
.sec5 .m-con .product-space .page .product-box:nth-child(1) {
    border: 0px solid;
}

.sec5 .m-con .product-space .page .product-box .inner-box .pro-Img {
    width: 100%;
    height: 400px;
    border: 0px solid;
    box-sizing: border-box;
   /* position: absolute;*/
}
.sec5 .m-con .product-space .page .product-box .inner-box .pro-Img .cart{
    width: 65px;
    height: 65px;
    border: 0px solid;
    padding: 300px 0 0 220px;
    display: none;
}
.sec5 .m-con .product-space .page .product-box .inner-box .pro-Img:hover .cart{
    display: block;
}
.sec5 .m-con .product-space .page .product-box .inner-box .pro-Img .cart a span.cartBg:hover{
    opacity: 80%;
}
.sec5 .m-con .product-space .page .product-box .inner-box .pro-Img .cart a{
    width: 65px;
    height: 65px;
    display: block;
    border: 0px solid;
}
.sec5 .m-con .product-space .page .product-box .inner-box .pro-Img .cart a span.cartBg{
    width: 65px;
    height: 65px;
    background: #000;
    display: block;
    border-radius: 50%;
    opacity: 50%;
}

.sec5 .m-con .product-space .page .product-box .inner-box .pro-Img .cart a span.cartBg img{
    width: 100%;
    height: auto;
    padding: 20%;
}

/*page-review 이미지*/
.sec5 .m-con .product-space .page.review .product-box:nth-child(1) .inner-box .pro-Img {
    background: url(img/index/sec5/sec5-review-0-before.png) no-repeat 50%;
    background-size: cover;
}

.sec5 .m-con .product-space .page.review .product-box:nth-child(1) .inner-box .pro-Img:hover {
    background: url(img/index/sec5/sec5-review-0-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec5 .m-con .product-space .page.review .product-box:nth-child(2) .inner-box .pro-Img {
    background: url(img/index/sec5/sec5-review-1-before.png) no-repeat 50%;
    background-size: cover;
}

.sec5 .m-con .product-space .page.review .product-box:nth-child(2) .inner-box .pro-Img:hover {
    background: url(img/index/sec5/sec5-review-1-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec5 .m-con .product-space .page.review .product-box:nth-child(3) .inner-box .pro-Img {
    background: url(img/index/sec5/sec5-review-2-before.png) no-repeat 50%;
    background-size: cover;
}

.sec5 .m-con .product-space .page.review .product-box:nth-child(3) .inner-box .pro-Img:hover {
    background: url(img/index/sec5/sec5-review-2-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec5 .m-con .product-space .page.review .product-box:nth-child(4) .inner-box .pro-Img {
    background: url(img/index/sec5/sec5-review-3-before.png) no-repeat 50%;
    background-size: cover;
}

.sec5 .m-con .product-space .page.review .product-box:nth-child(4) .inner-box .pro-Img:hover {
    background: url(img/index/sec5/sec5-review-3-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}
/* page-best 이미지 */
.sec5 .m-con .product-space .page.best .product-box:nth-child(1) .inner-box .pro-Img {
    background: url(img/index/sec5/sec5-best-0-before.png) no-repeat 50%;
    background-size: cover;
}

.sec5 .m-con .product-space .page.best .product-box:nth-child(1) .inner-box .pro-Img:hover {
    background: url(img/index/sec5/sec5-best-0-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}
.sec5 .m-con .product-space .page.best .product-box:nth-child(2) .inner-box .pro-Img {
    background: url(img/index/sec5/sec5-best-1-before.png) no-repeat 50%;
    background-size: cover;
}
.sec5 .m-con .product-space .page.best .product-box:nth-child(2) .inner-box .pro-Img:hover {
    background: url(img/index/sec5/sec5-best-1-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}
.sec5 .m-con .product-space .page.best .product-box:nth-child(3) .inner-box .pro-Img {
    background: url(img/index/sec5/sec5-best-2-before.png) no-repeat 50%;
    background-size: cover;
}

.sec5 .m-con .product-space .page.best .product-box:nth-child(3) .inner-box .pro-Img:hover {
    background: url(img/index/sec5/sec5-best-2-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}
.sec5 .m-con .product-space .page.best .product-box:nth-child(4) .inner-box .pro-Img {
    background: url(img/index/sec5/sec5-best-3-before.png) no-repeat 50%;
    background-size: cover;
}

.sec5 .m-con .product-space .page.best .product-box:nth-child(4) .inner-box .pro-Img:hover {
    background: url(img/index/sec5/sec5-best-3-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

/* page-sale 이미지 */
.sec5 .m-con .product-space .page.sale .product-box:nth-child(1) .inner-box .pro-Img {
    background: url(img/index/sec5/sec5-sale-0-before.png) no-repeat 50%;
    background-size: cover;
}

.sec5 .m-con .product-space .page.sale .product-box:nth-child(1) .inner-box .pro-Img:hover {
    background: url(img/index/sec5/sec5-sale-0-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}
.sec5 .m-con .product-space .page.sale .product-box:nth-child(2) .inner-box .pro-Img {
    background: url(img/index/sec5/sec5-sale-1-before.png) no-repeat 50%;
    background-size: cover;
}

.sec5 .m-con .product-space .page.sale .product-box:nth-child(2) .inner-box .pro-Img:hover {
    background: url(img/index/sec5/sec5-sale-1-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}
.sec5 .m-con .product-space .page.sale .product-box:nth-child(3) .inner-box .pro-Img {
    background: url(img/index/sec5/sec5-sale-2-before.png) no-repeat 50%;
    background-size: cover;
}

.sec5 .m-con .product-space .page.sale .product-box:nth-child(3) .inner-box .pro-Img:hover {
    background: url(img/index/sec5/sec5-sale-2-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}
.sec5 .m-con .product-space .page.sale .product-box:nth-child(4) .inner-box .pro-Img {
    background: url(img/index/sec5/sec5-sale-3-before.png) no-repeat 50%;
    background-size: cover;
}

.sec5 .m-con .product-space .page.sale .product-box:nth-child(4) .inner-box .pro-Img:hover {
    background: url(img/index/sec5/sec5-sale-3-after.png) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

.sec5 .m-con .product-space .page .product-box .sticker::after {
    content: "";
    display: block;
    clear: both;
}

.sec5 .m-con .product-space .page .product-box .sticker .best {
    width: 40px;
    line-height: 20px;
    text-align: center;
    background: #a89079;
    float: left;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}
.sec5 .m-con .product-space .page .product-box .sticker .new{
        width: 40px;
    line-height: 20px;
    text-align: center;
    background: #a1af1b;
    float: left;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}
.sec5 .m-con .product-space .page .product-box .sticker .saleT {
    width: 40px;
    line-height: 20px;
    text-align: center;
    background: #ff5c5c;
    float: left;
    color: #fff;
    font-style: italic;
    font-size: 12px;
    font-weight: 500;
}

.sec5 .m-con .product-space .page .product-box .pro-Name {
    width: 100%;
    line-height: 20px;
    border: 0px solid;
    margin-bottom: 40px;
    font-size: 20px;
    margin-top: 10px;
}

.sec5 .m-con .product-space .page .product-box .price {
    width: 100%;
    height: 40px;
    line-height: 20px;
    border: 0px solid;
    margin-bottom: 50px;
    box-sizing: border-box;
    font-size: 20px;
}

.sec5 .m-con .product-space .page.product-box .price::after {
    content: "";
    display: block;
    clear: both;
}

.sec5 .m-con .product-space .page .product-box .price .b-price {
    font-size: 16px;
    float: left;
    color: #bcbcbc;
}

.sec5 .m-con .product-space .page .product-box .price .percent {
    font-size: 16px;
    float: left;
    color: #ff5c5c;
    font-family: 'Nanum Myeongjo', serif;
}

.sec5 .m-con .product-space .page .product-box .icon {
    width: 100%;
    height: auto;
    border: 0px solid;
    font-size: 18px;
    line-height: 20px;
    color: #727272;
}

.sec5 .m-con .product-space .page .product-box .icon::after {
    content: "";
    display: block;
    clear: both;
}

.sec5 .m-con .product-space .page .product-box .icon .l-icon {
    width: 23px;
    height: 20px;
    float: left;
}
.sec5 .m-con .product-space .page .product-box .icon .l-icon a{
    width: 23px;
    height: 20px;
    display: block;
}
.sec5 .m-con .product-space .page .product-box .icon .l-icon a img {
    width: 100%;
    height: auto;
    float: left;
    display: block;
    border: 0px solid;
}

.sec5 .m-con .product-space .page .product-box .icon .l-Text {
    float: left;
    width: 20px;
    height: auto;
    border: 0px solid;
    margin-left: 7px;
}

.sec5 .m-con .product-space .page .product-box .icon .r-icon {
    width: 23px;
    height: 20px;
    float: left;
    margin-left: 60px;
}

.sec5 .m-con .product-space .page .product-box .icon .r-icon img {
    width: 100%;
    height: auto;
}

.sec5 .m-con .product-space .page .product-box .icon .r-Text {
    width: 30px;
    border: 0px solid;
    float: left;
    margin-left: 7px;
}

.sec5 .b-con {
    width: 200px;
    height: auto;
    border: 0px solid;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 50px;
}

.sec5 .b-con > a {
    display: block;
}

.sec5 .b-con > a::after {
    content: "";
    display: block;
    clear: both;
}

.sec5 .b-con > a .b-Text {
    font-size: 20px;
    float: left;
}

.sec5 .b-con > a .b-Text:hover{
    color: #6c801a;
    transition: 0.3s;
}

.sec5 .b-con > a .b-icon {
    width: 50px;
    height: auto;
    float: left;
    animation: goRight 1.5s linear infinite;
}

.sec5 .b-con > a .b-icon img {
    width: 100%;
    height: auto;
    padding: 6px 15px;
}
.sec5on1{
    color: #fff;
}
.sec5on2 {
    color: #6c801a;
    border-bottom: 3px #6c801a solid;
}

/* sec6 시작 */
.section.sec6 {
    width: 100%;
    height: 100%;
    border: 0px solid;
}

.section.sec6 .inner-con {
    width: 100%;
    height: auto;
    border: 0px solid #f00;
    margin: 0 auto;
}

.sec6 .title {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 54px;
    border: 0px solid;
    box-sizing: border-box;
}

.sec6 .title::after {
    content: "";
    display: block;
    clear: both;
}

.sec6 .title .follow {
    font-size: 20px;
    float: left;
    color: #757575;
}

.sec6 .title .t-osulloc {
    font-size: 36px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 500;
    float: left;
    margin-left: 15px;
    color: #505051;
}

.sec6 .banner {
    width: 100%;
    height: auto;
    border: 0px solid;
    box-sizing: border-box;
}

.sec6 .banner .inner-banner {
    width: 100%;
    max-width: 1400px;
    height: 240px;
    position: relative;
    margin: 0 auto;
    border: 0px solid #ccc;
}

.sec6 .banner .inner-banner .banner-con {
    width: 100%;
    position: absolute;
}

.sec6 .banner .inner-banner .banner-con > ul > li {
    width: 20%;
    height: 240px;
    float: left;
    border: 0px solid #000;
    box-sizing: border-box;
    text-align: center;
    line-height: 200px;
    color: #fff;
    font-weight: 500;
    transition: all 0.1s;
}

.sec6 .banner .inner-banner .banner-con > ul > li:hover {
    transform: scale(1.05);
    opacity: 80%;
    cursor: pointer;
}

.sec6 .banner .inner-banner .banner-con > ul > li a {
    display: block;

}

.sec6 .banner .inner-banner span.arrow {
    width: 30px;
    height: 30px;
    border: 0px solid;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    z-index: 5;
}

.sec6 .banner .inner-banner span.arrow.left {
    left: 20px;
}

.sec6 .banner .inner-banner span.arrow.left:hover {
    opacity: 70%;
    cursor: pointer;
}

.sec6 .banner .inner-banner span.arrow.left img {
    width: 100%;
    height: auto;
}

.sec6 .banner .inner-banner span.arrow.right {
    right: 20px;
}

.sec6 .banner .inner-banner span.arrow.right img {
    width: 100%;
    height: auto;
}

.sec6 .banner .inner-banner span.arrow.right:hover {
    opacity: 70%;
    cursor: pointer;
}

@keyframes goRight{
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateX(30px);
        opacity: 0;
    }
}